* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: red;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    border: 2px solid red;
}

.row::after {
    display: block;
    content: '';
    clear: both;
}


/* HEADER */

header {
    background: black;
    background-size: cover;
    font-weight: 600;
    /*    letter-spacing: 1px;*/
    font-size: 15px;
    height: 40px;
}

.logo {
    float: left;
    color: white;
    margin: 7px 0;
    padding: 5px;
}

.logo .logoColor {
    color: #28c7b1;
}

.menu {
    float: right;
    margin: 9px;
    padding: 5px;
    color: white;
}

.menu li {
    display: inline-block;
    padding: 0 15px;
    margin-right: 15px;
}


/* SECTION  1 */

.sectionOne {
    height: 504px;
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(203, 202, 207, 1) 100%);
    background-size: cover;
}

.picture {
    display: inline-block;
    float: left;
    padding: 113px 55px 47px 28px;
}

.logoBlack {
    font-size: 40px;
    display: inline-block;
    position: absolute;
    padding: 138px 0 0 524px;
    font-weight: 500;
    color: black;
    float: right;
}

.logoBlack span {
    color: #28c7b1;
    font-weight: 600;
}

div img {
    transform: scale(1.25, 1.25);
}

.text {
    float: right;
    padding: 210px 0 0 502px;
    letter-spacing: 0.4px;
    position: absolute;
    color: black;
    z-index: 10;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    /*    font-weight: 300;        SPRAWDZIC*/
}

.sectionOne .buttonOne {
    width: 264px;
    height: 53px;
    background-color: #28c7b1;
    display: inline-block;
    margin: 324px 5px 6px 22px;
    border-radius: 9px;
}

.buttonOne span {
    position: absolute;
    margin: 17px 0px 10px 47px;
    letter-spacing: 0.1px;
    font-size: 23px;
    color: white;
}

.leftButton p {
    font-size: 50px;
    float: right;
    position: absolute;
    transform: rotate(90deg);
    margin: -150px 0 0 12px;
    color: #28c7b1;
}

.rightButton p {
    font-size: 50px;
    /* position: absolute; */
    transform: rotate(-90deg);
    color: #28c7b1;
    float: right;
    margin: -151px 44px 0px 0px
}


/* SECTION   2 */

.sectionTwo {
    height: 350px;
    background: #ffffff;
    background-size: cover;
}

.imgOne {
    width: 332px;
    height: 228px;
    background-image: url(../Sit_on_chair_template/images/box1_img.jpg);
    background-size: contain;
    display: inline-block;
    position: relative;
    margin: 28px 0 0 5px;
    float: left;
}

.imgTwo {
    width: 332px;
    height: 228px;
    background-image: url(../Sit_on_chair_template/images/box2_img.jpg);
    background-size: contain;
    display: inline-block;
    position: relative;
    float: left;
    margin: 28px 0 0 26px;
}

.rightText {
    width: 340px;
    height: 255px;
    background-color: white;
    border: 1px solid #dbdbdb;
    float: right;
    position: relative;
    margin: 27px 38px 64px 0;
}

.transparentRect {
    width: 332px;
    height: 62px;
    background-color: white;
    position: absolute;
    display: inline-block;
    margin: 149px 0 0 0;
    opacity: 0.50;
}

.textOne {
    display: inline-block;
    color: black;
    z-index: 10;
    font-weight: 700;
    position: absolute;
    margin: 165px 0 0 17px;
    font-size: 16px;
}

.textTwo {
    margin: 165px 0 0 12px;
}

.aquaRect {
    width: 138px;
    height: 7px;
    background-color: #29c7ae;
    position: absolute;
    display: inline-block;
    margin: 182px 0 0 12px;
}

.aquaRectPosition {
    margin:  48px 0 0 21px;
}

.rightTextPosition {
     margin: 30px 0 0 21px;
}

.textInRightRect {
    color: black;
    font-size: 14px;
        margin: 70px 20px 0 20px;
    position: absolute;
    line-height: 20px;

}

/* SECTION   3 */

.sectionThree {
    height: 725px;
    background: #f1f1f1;
    background-size: cover;
}


/* SECTION   4 */

.sectionFour {
    height: 550px;
    background: #ffffff;
    background-size: cover;
}


/* FOOTER */

.footer {
    height: 100px;
    background: #ffffff;
    background-size: cover;
}