* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: black;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
/*    border: 2px solid red;*/
}

.row::after {
    display: block;
    content: '';
    clear: both;
}


/*HEADER */

header {
    background: black;
    background-size: cover;
    font-weight: 600;
    /*    letter-spacing: 1px;*/
    font-size: 15px;
    height: 40px;
}

.logo {
    float: left;
    color: white;
    margin: 7px 0;
    padding: 5px;
}

.logo .logoColor {
    color: #28c7b1;
}

.menu {
    float: right;
    margin: 9px;
    padding: 5px;
    color: white;
}

.menu li {
    display: inline-block;
    padding: 0 15px;
    margin-right: 15px;
}


/* SECTION  1 */

.sectionOne {
    height: 504px;
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(203, 202, 207, 1) 100%);
    background-size: cover;
}

.picture {
    display: inline-block;
    float: left;
    padding: 113px 55px 48px 28px;
}

.logoBlack {
    font-size: 40px;
    display: inline-block;
    position: absolute;
    padding: 138px 0 0 524px;
    font-weight: 500;
    color: black;
    float: right;
}

.logoBlack span {
    color: #28c7b1;
    font-weight: 600;
}

div img {
    transform: scale(1.25, 1.25);
}

.text {
    float: right;
    padding: 210px 0 0 502px;
    letter-spacing: 0.4px;
    position: absolute;
    color: black;
    z-index: 10;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    /*    font-weight: 300;        SPRAWDZIC*/
}

.sectionOne .buttonOne {
    width: 264px;
    height: 53px;
    background-color: #28c7b1;
    display: inline-block;
    margin: 324px 5px 6px 22px;
    border-radius: 10px;
}

.buttonOne span {
    position: absolute;
    margin: 17px 0px 10px 47px;
    letter-spacing: 0.1px;
    font-size: 23px;
    color: white;
}

.leftButton p {
    font-size: 70px;
    float: left;
    position: absolute;
    margin: -167px 0 0 12px;
    color: #28c7b1;
    font-weight: 200;
}

.rightButton p {
    font-size: 70px;
    position: absolute;
    color: #28c7b1;
    float: right;
    margin: -167px 58px 0px 1019px;
}


/* SECTION   2 */

.sectionTwo {
    height: 350px;
    background: #ffffff;
    background-size: cover;
}

.imgOne {
    width: 332px;
    height: 228px;
    background-image: url(../Sit_on_chair_template/images/box1_img.jpg);
    background-size: contain;
    display: inline-block;
    position: relative;
    margin: 28px 0 0 5px;
    float: left;
}

.imgTwo {
    width: 332px;
    height: 228px;
    background-image: url(../Sit_on_chair_template/images/box2_img.jpg);
    background-size: contain;
    display: inline-block;
    position: relative;
    float: left;
    margin: 28px 0 90px 26px;
}

.rightText {
    width: 340px;
    height: 255px;
    background-color: white;
    border: 1px solid #dbdbdb;
    float: right;
    position: absolute;
    margin: 27px 43px 64px 720px;
}

.transparentRect {
    width: 332px;
    height: 62px;
    background-color: white;
    position: absolute;
    display: inline-block;
    margin: 149px 0 0 0;
    opacity: 0.50;
}

.textOne {
    display: inline-block;
    color: black;
    z-index: 10;
    font-weight: 700;
    position: absolute;
    margin: 165px 0 0 17px;
    font-size: 16px;
}

.textTwo {
    margin: 165px 0 0 12px;
}

.aquaRect {
    width: 138px;
    height: 7px;
    background-color: #29c7ae;
    position: absolute;
    display: inline-block;
    margin: 182px 0 0 12px;
}

.aquaRectPosition {
    margin: 48px 0 0 21px;
}

.rightTextPosition {
    margin: 30px 0 0 21px;
}

.textInRightRect {
    color: black;
    font-size: 14px;
    margin: 70px 20px 0 20px;
    position: absolute;
    line-height: 20px;
}


/* SECTION   3 */

.sectionThree {
    height: 725px;
    background: #f1f1f1;
    background-size: cover;
}

.priceText {
    display: inline-block;
    color: black;
    position: absolute;
    font-size: 22px;
    margin: 47px 20px 0 3px;
}

.aquaRectSectionThree {
    margin: 75px 20px 0 3px;
    width: 320px;
    height: 8px;
}

.selection li {
    display: inline-block;
    margin: 0 30px 60px 0;
}

.chooseFormOne {
    width: 326px;
    height: 497px;
    background-color: #f9f9f9;
    background-size: contain;
    display: inline-block;
    float: left;
    margin: 161px 0 0 3px;
    border: 2px solid #dbdbdb;
}

.bigCircle {
    width: 55px;
    height: 55px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: -40px 0px 0 135px;
    border: 2px solid #dbdbdb;
    background-color: #f9f9f9;
}

.smallCircle {
    width: 25px;
    height: 25px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: -40px 0px 0 150px;
    border: 2px solid #dbdbdb;
    background-color: #dbdbdb;
}

.chooseText {
    color: #29c7ae;
    display: inline-block;
    position: absolute;
    font-size: 23px;
    font-weight: 500;
    margin: 26px 0 0 100px;
}

.standardPlan {
    margin: 26px 0 0 75px;
}

.advancePlan {
    margin: 26px 0 0 80px;
}

.circleInsideChooseForm {
    width: 131px;
    height: 131px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin: 76px 0px 0 97px;
    border: 2px solid #dbdbdb;
    background-color: #ffffff;
}

.price {
    font-size: 45px;
    font-weight: 700;
    color: #dbdbdb;
    margin: 30px 0 0 35px;
    display: inline-block;
}

.correctPrice {
    margin: 30px 0 0 20px;
}

.price sup {
    vertical-align: super;
    font-size: 15px;
}

.perMonth {
    font-size: 15px;
    margin: 9px 0 0 28px;
    display: inline-block;
    color: #dbdbdb;
}

.optionsOfDelievery {
    margin: 35px 0 0 0px;
    width: 100%;
}

.optionsOfDelievery tr td {
    padding: 11px 0 0 0;
    text-align: center;
    font-size: 22px;
    color: #aaaaaa;
}

.optionsOfDelievery tr:nth-child(2n+1) {
    background-color: #e4e4e4;
    height: 45px;
}

.optionsOfDelievery tr:nth-child(2n) {
    background-color: #f1f1f1;
    height: 45px;
}

.buttonSectionThree {
    width: 125px;
    height: 33px;
    background-color: #27c7ab;
    display: inline-block;
    margin: 108px 0 0 102px;
    border-radius: 9px;
    text-align: center;
    padding: 9px 0 0 0;
    color: #f1f1f1;
}

.buttonSectionThreeCenter {
    margin: 63px 0 0 102px;
    width: 125px;
    height: 33px;
    background-color: #27c7ab;
    display: inline-block;
    border-radius: 9px;
    text-align: center;
    padding: 9px 0 0 0;
    color: #f1f1f1;
}

.buttonSectionThreeRight {
    margin: 18px 0 0 102px;
    width: 125px;
    height: 33px;
    background-color: #27c7ab;
    display: inline-block;
    border-radius: 9px;
    text-align: center;
    padding: 9px 0 0 0;
    color: #f1f1f1;
}

.selection li:hover {
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
}


/* SECTION   4 */

.sectionFour {
    height: 550px;
    background: #ffffff;
    background-size: cover;
}

.positionSectionFour {
    margin: 35px 0 0 10px;
}

.aquaRectSectionFour {
    margin: 63px 0 0 10px;
    width: 320px;
    height: 8px;
}

.name {
    width: 635px;
    position: absolute;
    height: 65px;
    margin: 117px 0 0 10px;
    /*        margin: 117px 0 0 10px;*/
    border: 1px solid #27c7ab;
    float: left;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 0 15px;
}

.email {
    width: 635px;
    height: 65px;
    position: absolute;
    margin: 207px 0 0 10px;
    border: 1px solid #27c7ab;
    float: left;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 0 15px;
}

.message {
    width: 635px;
    height: 188px;
    position: absolute;
    margin: 297px 0 0 10px;
    border: 1px solid #27c7ab;
    float: left;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    padding: 0px 0px 125px 15px;
}

form {
    margin: 0 0 0 0; 

}

.checkboxOne {
    margin: 330px 0 120px 700px;
    height: 50px;
    width: 50px;
    background: #27c7ab;
/*    float: right;*/
    display: inline-block;
    position: relative;
    
}

.checkboxOne:checked {
    background-color: #27c7ab;
    border: 1px solid #27c7ab;
    content: '';
}

.redChair img {
    float: right;
    transform: scale(0.98, 0.98);
    position: absolute;
    margin: 85px 0 0 718px;
}


.buttonSectionFour {
    width: 345px;
    height: 70px;
    background-color: #27c7ab;
    border-radius: 10px;
    margin: 415px 0 0 -52px;
    display: inline-block;
    position: absolute;
    float: right;
}

.buttonSectionFour span {
    position: absolute;
    letter-spacing: 0.1px;
    font-size: 33px;
    font-weight: 600;
    color: white;
    padding: 20px 115px;
    text-align: center;
}

.checkboxText {
    position: absolute;
    float: right;
    margin: -164px 0 0 763px;
    font-size: 20px;
    color: #c4c4c4;
}



/* FOOTER */

.footer {
    height: 100px;
    background: #ffffff;
    background-size: cover;
}