* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: red;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    border: 2px solid red;
}

.row::after {
    display: block;
    content: '';
    clear: both;
}


/* HEADER */

header {
    background-color: black;
    background-size: cover;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo {
    float: left;
    color: white;
    margin: 5px 0;
    padding: 5px;
    
}

.logo .logoColor {
    color: #28c7b1;
}

.menu {
    float: right;
    margin: 5px 0;
    padding: 5px;
    color:white;
}

.menu li {
    display: inline-block;
    padding: 0 15px;
    margin-right: 0;
}