/* SECTION 5 */

.sectionFive {
    position: relative;
    top: 535px;
    height: 550px;
    background: $footer-background-color;
    background-size: cover;
    @media(min-width: 450px) {
        top: 0;
    }
}

.positionSectionFive {
    margin: 33px 0 0 10px;
}

.aquaRectSectionFive {
    margin: 65px 0 0 -103px;
    width: 320px;
    height: 8px;
}

.name {
    width: 325px;
    height: 65px;
    margin: 37px 0 0 8px;
    border: 1px solid $aqua-color;
    float: left;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 0 15px;
    @media(min-width: 450px) {
        width: 450px;
    }
    @media(min-width: 1000px) {
        width: 635px;
    }
}

.email {
    width: 325px;
    height: 65px;
    margin: 29px 0 0 8px;
    border: 1px solid $aqua-color;
    float: left;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 0 15px;
    @media(min-width: 450px) {
        width: 450px;
    }
    @media(min-width: 1000px) {
        width: 635px;
    }
}

.message {
    width: 325px;
    height: 188px;
    margin: 29px 0 0 8px;
    border: 1px solid $aqua-color;
    float: left;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    padding: 0px 0px 125px 15px;
    @media(min-width: 450px) {
        width: 450px;
    }
    @media(min-width: 1000px) {
        width: 635px;
    }
}

form {
    margin: 0 0 0 0;
}

.buttonSectionFive {
    width: 345px;
    height: 70px;
    margin: 35px -3px 35px 0;
    background-color: $aqua-color;
    border-radius: 10px;
    display: inline-block;
    float: right;
    span {
        letter-spacing: 0.1px;
        font-size: 33px;
        padding: 15px 105px;
        position: absolute;
        font-weight: 600;
        color: white;
        text-align: center;
        @media(min-width: 450px) {
            padding: 15px 80px;
        }
        @media(min-width: 1000px) {
            padding: 15px 105px;
        }
    }
    @media(min-width: 450px) {
        margin: 35px -25px 0 0;
        width: 300px;
    }
    @media(min-width: 1000px) {
        margin: 35px 37px 0 0;
        width: 345px;
    }
}

.redChair img {
    margin: 10px 0 0 calc(50% - 135px);
    display: inline-block;
    transform: scale(0.98, 0.98);
    @media(min-width: 450px) {
        margin: 15px 0 0 75px;
    }
}

.checkboxSectionFive {
    position: relative;
    margin: 30px 0 0 calc(50% - 130px);
    input {
        display: block;
        opacity: 0;
        height: 48px;
        position: absolute;
        width: 48px;
        cursor: pointer;
    }
    label {
        display: block;
        font-size: 20px;
        padding-top: 3px;
        padding-left: 62px;
        position: relative;
        color: $grey-text;
        line-height: 120%;
        cursor: pointer;
    }
    @media(min-width: 450px) {
        margin: 15px 0 0 35px;
    }
    @media(min-width: 1000px) {
        margin: 30px 0 0 57px;
    }
}

.checkboxSectionFive label::before,
.checkboxSectionFive label::after {
    border: 1px solid $aqua-color;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0;
}

.checkboxSectionFive label::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none;
}

.checkboxSectionFive input:checked + label::after {
    display: block;
}