//main colors
$aqua-color: #28c7b1;
$grey-text: #b7b7b7;
//main label
$main-label: #575757;
//list label
$list-label: #e2e2e2;


//header background
$header-color: black;

//section1 background
$section-one-color: -webkit-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(247, 247, 247, 1) 31%, rgba(229, 228, 233, 1) 68%, rgba(200, 203, 210, 1) 100%);

//section3 background
$section-three-color: #f1f1f1;

//section4 background
$section-four-color: #f9f9f9;

// section2, section5, footer background
$footer-background-color: #ffffff;